


<div>
	<button class="t-button" onclick="window.location.href='/Plugins/MiscAmazonImport/CreateFromASIN'">@T("Plugins.Misc.AmazonImport.CreateFromASIN")</button>
	<button class="t-button" onclick="window.location.href='/Plugins/MiscAmazonImport/SearchAmazon'">@T("Plugins.Misc.AmazonImport.SearchAmazon")</button>
</div>
